h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

html {
    background-color: rgb(255, 246, 233);
}

header {
    text-align: center;
}

.nav-link {
    font-size: 25px;
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

.nav-link a {
    text-decoration: none;
    background-color: white;
    padding: 7px;
    color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.nav-link a:hover {
    color: lightblue;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-link {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a{
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

html.dark {
    background-color: #626059;
    color: #fff;
}
