---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import sterne from "../assets/sterne.jpg"
const pageTitle ="Startseite"
---

<Layout pageTitle={pageTitle}>
	<h2>{pageTitle}</h2>

	<h3>Herzlich Willkommen</h3>

	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
		sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
		erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et 
		ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
		ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing 
		elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
		aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
		dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
		Lorem ipsum dolor sit amet.</p>

		<Image src={sterne} width={200} alt="Viele Sterne" />

		<div class="center">
			<button data-confetti-button>Celebrate!</button>
		</div>

		<script>

			import confetti from 'canvas-confetti';

			const buttons = document.querySelectorAll('[data-confetti-button]');

			buttons.forEach((button) => {
				button.addEventListener('click', () => confetti());
			});
		</script>

</Layout>

<style>

	.center{
		text-align: center;
	}

	button {
		background-color: black;
		color: white;
		border: none;
		border-radius: 20px;
		box-shadow: 0px 0px 2px 2px rgb(0 0 0);
		height: 50px;
		width: 100px;
	}

	button:hover {
		color: lightblue;
		height: 70px;
		width: 120px;
		font-size: 18px;
		transform: rotate(360deg);
		transition: 1s;
	}

	button:not(:hover){
	transition:0.4s;
	transform: rotate();
	}
</style>