<button class="alert">Alarm!</button>

<script>
    const buttons = document.querySelectorAll('button.alert');

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            alert('Button wurde angeklickt!');
        });
    });
</script>

<style>
    	.center{
		text-align: center;
        margin-top: 20px;
	}

	button {
		background-color: red;
		color: black;
        font-weight: 900;
		border: none;
		border-radius: 20px;
		box-shadow: 0px 0px 2px 2px rgb(0 0 0);
		height: 50px;
		width: 100px;
	}

	button:hover {
		height: 70px;
		width: 120px;
		font-size: 18px;
		transform: skew(20deg);
		transition: 1s;
	}

	button:not(:hover){
	transition: 1s;
	transform: rotate();
	}
</style>