---
import "../styles/global.css"
import Navigation from "./Navigation.astro"
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <h1>Meine erste Seite</h1>
    <Navigation />
    <ThemeIcon />
</header>