---
import "../styles/global.css"
---

<div class="nav-link">
    <a href="/">Startseite</a> &nbsp
    <a href="/info">Info</a> &nbsp
    <a href="/blog">Blog</a> &nbsp
    <a href="/tags">Tags</a> &nbsp
</div>