---
const { platform, username } = Astro.props;
---

<a href={"https://www.${platform}.com/${username}"}>{platform}</a>

<style>
    a {
        color: rgb(134, 134, 134);
        text-decoration: none;
    }

    a:hover {
        color: lightblue;
    }
</style>