---
const { platform, username } = Astro.props;
const url = 'https://www.' + platform + '.com/' + username;

---

<a href={url}>{platform}</a>

<style>
    a {
        color: rgb(134, 134, 134);
        text-decoration: none;
        font-family: 'Caveat Brush', sans-serif;
        font-size: larger;
        letter-spacing: 1px;
    }

    a:hover {
        color: lightblue;
    }
</style>